.tool_rpg-teacher-overview {
    display: grid;
    grid-template-columns: max-content auto;
}

.tool_rpg-teacher-overview > div {
    padding: 8px;
}

.tool_rpg-teacher-overview > div:first-child {
    border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.tool_rpg-character-list {
    display: grid;
    grid-auto-flow: column;
}

.tool_rpg-character-list .tool_rpg-character-wrapper {
    background: #eee;
    border: 2px solid rgba(0, 0, 0, 0.2);
    padding: 8px;
    border-radius: 0.5rem;
}

.tool_rpg-level {
    background: linear-gradient(0deg, #397dcd 0%, #3dbbdb 100%);
    color: white;
    text-shadow: 1px 1px black;
    border-radius: 2rem 0 0 0;
    padding: 6px 20px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    font-size: 2rem;
}

.tool_rpg-hp {
    border: none;
    width: 100%;
    height: 100%;
}

.tool_rpg-hp::-webkit-progress-bar {
    background: #f8fbea;
    border-radius: 0 0 4rem 0;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    text-align: center;
    text-shadow: 1px 1px black;
    font-size: 1.5rem;
    color: white;
}

.tool_rpg-hp::-webkit-progress-value {
    background: linear-gradient(90deg, #2e9b5e 0%, #50ad5b 5%, #5dd348 30%);
    box-shadow: 4px 0 1px rgba(161, 241, 156, 0.4666666667);
    border-radius: 0 0 4rem 0;
}

.tool_rpg-character-xp {
    border: none;
    width: 92%;
    height: 16px;
    margin: 8px;
}

.tool_rpg-character-xp::-webkit-progress-bar {
    background: #f8fbea;
    border-radius: 2rem;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
}

.tool_rpg-character-xp::-webkit-progress-value {
    background: #ffc53e;
    border-radius: 2rem;
}

.tool_rpg-monster-battle-wrapper {
    display: grid;
    grid-template-columns: max-content auto;
}

.tool_rpg-monster-battle-wrapper .tool_rpg-monster-status {
    display: grid;
    grid-template-columns: max-content auto;
    padding-bottom: 16px;
}

.tool_rpg-monster-battle-wrapper .tool_rpg-monster-status .tool_rpg-level {
    background: linear-gradient(0deg, #f74646 0%, #af7923 100%);
}

.tool_rpg-monster-battle-wrapper .tool_rpg-monster-status .tool_rpg-hp::-webkit-progress-value {
    background: linear-gradient(90deg, #a34242 0%, #b54252 5%, #d10d0d 30%);
}

.tool_rpg-character-status {
    display: grid;
    grid-template-columns: max-content auto;
}

.tool_rpg-inventory {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.tool_rpg-inventory .tool_rpg-inventory-item {
    min-height: 150px;
    padding: 12px;
    background: #f6f4ee;
    box-shadow: 0 0 5px #dfdfdb;
    border-radius: 20px;
    cursor: pointer;
    font-family: monospace;
    transition: 0.2s ease all;
}

.tool_rpg-inventory .tool_rpg-inventory-item > div {
    text-align: center;
}

.tool_rpg-inventory .tool_rpg-inventory-item > div:last-child > span {
    padding: 2px 6px;
    background: #397dcd;
    color: white;
    border-radius: 1rem;
}

.tool_rpg-inventory .tool_rpg-inventory-item img {
    image-rendering: pixelated;
    width: 80px;
}

.tool_rpg-inventory .tool_rpg-inventory-item.tool_rpg-inventory-placeholder {
    background: #fdfdfd;
    cursor: default;
}

.tool_rpg-inventory .tool_rpg-inventory-item.tool_rpg-inventory-placeholder .fa-solid {
    color: #f9f9f6;
    font-size: 80px;
    text-shadow: 1px 1px rgba(203, 201, 188, 0.6666666667);
}

.tool_rpg-inventory .tool_rpg-inventory-item.tool_rpg-inventory-placeholder:nth-child(2n) .fa-solid {
    transform: rotate(20deg);
}

.tool_rpg-inventory .tool_rpg-inventory-item.tool_rpg-inventory-placeholder:nth-child(3n) .fa-solid {
    transform: rotate(340deg);
}

.tool_rpg-inventory .tool_rpg-inventory-item:hover:not(.tool_rpg-inventory-placeholder) {
    background: #f0ffb7;
}
