{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
  @template tool_rpg/start_battle_ui

  Example context (json):
  {
      "battleid": 1,
      "monsterimage": "https://moodle.local/monster.png",
      "monstername": "Monster name",
      "attacktext": "Attack!",
      "declinetext": "No thanks"
  }
}}
<div class="tool_rpg-start-battle">
    <h3 class="text-danger"><i class="fa fa-triangle-exclamation"></i> {{monstername}} wants to fight...</h3>
    <img src="{{{monsterimage}}}" alt="{{monstername}}" style="max-width: 200px;">
    <button class="tool_rpg-start-battle-button btn btn-primary btn-danger" data-battleid="{{battleid}}">
        <i class="fa fa-dungeon"></i> {{attacktext}}
    </button>
    <button class="tool_rpg-decline-battle-button btn btn btn-dark" data-battleid="{{battleid}}">
        <i class="fa fa-shield-halved"></i> {{declinetext}}
    </button>
</div>
